.container-details {
    width: 100%;
    margin-top: 20px;

    .content {
        width: 100%;
        display: flex;
        flex-direction: row;

        .poster {
            width: 40%;

            img {
                width: 360px;
            }
        }
    }

}